[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
pandas = "*"
python-dotenv = "*"
scipy = "*"
matplotlib = "*"
gunicorn = "*"
flask-mysql = "*"
mysql-connector-python = "*"
flask-session = "*"
flask-cors = "*"
redis = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.9"
